<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="icon" href="static/favicon.cc.png" type="image/gif" sizes="4x4">
    <title>Contact</title>
</head>
<body id="imp">
    <nav>
        <label class="logo">Acre</label>
        <ul>
       
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index.html">Predict</a></li>

        </ul>
    </nav>
</body>
</html>   

    <div id='sql'>
        <h1 id='this'>Get in touch with us:</h1>
        
        <form action='result' method="POST">
        <label id="a" for="u">Name:</label><br>
        <input type="text" name="u"><br>

        <label id="b" for="e">Email:</label><br>
        <input type="email" name="e"><br>

        <label id="c" for="l">Location:</label><br>
        <input type="text" name="l"><br>

        <label id="d" for="n">Phone Number:</label><br>
        <input type="text" name="n"><br>

        <input id="sub" type="submit" value="submit">
        </form>
    </div>
</body>
</html>    
    
