<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/home.css", media="screen,projection"/>
    <link rel="icon" href="static/favicon.cc.png" type="image/gif" sizes="4x4">    
    <title>Acre</title>
</head>
<body id="lol">
    <nav>
        <label class="logo">Acre</label>
        <ul>
       
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index.html">Predict</a></li>

        </ul>
    </nav>

    
</body>
</html>